---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />

  <div class="">
    <div class="column" style="background-color:#96D1CD; margin:1vw;">
          <article style="padding: 1vw;"><iframe src="https://uploads.knightlab.com/storymapjs/5af1b1386eba70de9dc2f7efa863b93a/in-a-color-mission/index.html" frameborder="0" width="100%" height="800"></iframe></article>
            <div>
              <article style="padding: 1vw;">
                <p>The Open Space Museum, a revolutionary concept at the intersection of color perception, technology, and cultural heritage, challenges conventional norms. It transforms into a dynamic hub, urging visitors to explore both the external environment and the anthropological aspects of human existence.</p> <span><br></span> <p>Rooted in the belief that everyone carries a personal museum, it commits to storytelling, participative action, and ongoing self-learning. With a vibrant journey through color, the museum focuses on preserving and reconstructing colors in diverse artworks, utilizing advanced technology, including AI. </p><span><br></span><p>Actively engaging the public and creative industries, it tackles issues like color bias and promotes gender balance in research. Committed to open science, the museum's modular structure signifies adaptability, embracing a progressive stance on cultural heritage in the digital age. It's more than an observational space; it's an immersive platform inviting exploration of the spectrum of human expression and connection.</p>
              </article>
                </div>
                  </div>
    </div>
  </div>
</ContentSection>